src/datasets/
src/results/
src/otdd/
src/otdd/otdd.egg-info/PKG-INFO
src/lora_p=4_DARCY-FLOW-5_all.log
src/__pycache__/
src/Log/
src/DARCY-FLOW-5_allorca60.log
src/DEEPSEA_allorca60.log
src/wandb/
src/ECG_allorca60.log
src/CIFAR100_allorca60.log
src/CIFAR100_all.log
src/SATELLITE_allorca60.log
src/SPHERICAL_allorca60.log
src/NINAPRO_allorca100.log
src/PSICOV_allorca60.log
src/COSMIC_allorca60.log
src/PSICOV_allFM_CE60.log
src/FSD_allorca60.log
src/FSD_allFM_CE60.log
src/DARCY-FLOW-5_allFM_CE60.log
src/PDE_dataset/
src/PDE-DS_allorca60.log
src/Logs/
src/Log/
src/PDE-*


